main {
    display:flex;
    flex: 1;
    background-color: #091A33;
    font-family: Open-Sans;
    justify-content: center;
}

/* Loading Screen */

#loader {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .spinner {
    animation: spin 1s linear infinite;
    transform-origin: center;
  }

  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Content */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    max-width: 1920px;
    flex-direction: column;
    align-items: center;
}

.small-box {
    width: 280px;
    height: 280px;
    background: linear-gradient(135deg, rgb(40, 107, 40), rgb(153, 226, 153));
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    box-shadow: inset 0px 0px 8px 0px black;
    color: white;
    cursor: pointer;
    margin: 24px;
}

.small-box:hover {
    filter: drop-shadow(0px 5px 20px rgba(255, 255, 255, 0.281));
}

.id-number {
    height: 24px;
    text-align: right;
    width: 100%;
}

.name {
    height: 32px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.pokemon-type {
    display: flex;
    flex: 1;
}

.types {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.types span {
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.349);
    background-color: rgba(255, 255, 255, 0.2);
}

.pokemon-small-img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    object-position: bottom;
}

.more-button {
    background-color: #2d5da5;
    padding: 16px;
    color: white;
    border-radius: 16px;
    font-size: 24px;
    margin: 16px;
    border: none;
}

.more-button:hover {
    background-color: #688cc2;
}

.uppercase::first-letter {
    text-transform: uppercase !important;
}

.search-section {
    display: flex;
    flex-direction: column;
}

.search-section input {
    border-radius: 8px;
    padding: 8px;
}

.min-req-char {
    color: white;
    min-width: 100px;
    position: absolute;
    top: 0px;
}

.user-search-feedback-container {
    position: relative;
    margin-top: 8px;
}

@media(max-width: 750px) {
    header img {
        width: 200px;
    }

    .header-content {
        padding: 0 24px;
    }

    footer img {
        width: 200px;
    }

}

@media(max-width: 530px) {
    .small-box {
        width: 180px;
        height: 180px;
    }

    .pokemon-small-img {
        width: 120px;
        height: 120px;
        
    }

    .types span {
        font-size: 12px;
    }

    header img {
        width: 140px;
        margin-bottom: 24px;
    }

    .header-content {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 24px;
    }
}